<div class="col-xs-10 col-xs-offset-1 about">
    <h1>About</h1>
    
    <p>
        Splurty was built by <a target="_blank" href="http://github.com/tomyotwongjai">Tom</a>. Starting fresh and optimistic about the future. Tom is on a mission to create a fulfilling life by gratitude and being grateful.
    </p>
        <br />
        <p>
            Never ask for anything more than having a freedom to think. I love anything artistic(though I can't draw). Creating a visual through web and software where people can feel good and warm.
        </p>
    <p>
        If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
    </p>
</div>

<div class="col-xs-12 col-sm-4">
    <%= image_tag 'tom.png', class: 'img-responsive' %>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />